:root {
  --basic-text-colour: #757575;
  --secondary-text-colour: #212121;
  --logo-text-color: #000000;
  --address-text-colour: rgba(255, 255, 255, 0.6);
  --accent-colour: #2196f3;
  --basic-text-or-background: #ffffff;
  --secondary-background: #2f303a;
  --others-background: #f5f4fa;
  --button-background: #188ce8;
  --svg-fill: #afb1b8;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
}

body {
  background-color: var(--basic-text-or-background);
  font-family: 'Roboto', sans-serif;
  color: var(--basic-text-colour);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}

/*Section header */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.cont-navul {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo,
.footer-logo {
  color: var(--accent-colour);
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.logo-studio {
  color: var(--logo-text-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .site-list:not(:last-child) {
  margin-right: 50px;
}

.site-nav .site-link {
  color: var(--secondary-text-colour);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.site-nav .site-link:hover,
.site-nav .site-link:focus {
  color: var(--accent-colour);
}

.site-nav .site-link-ctyd {
  color: var(--accent-colour);
}

.site-nav .site-link-port {
  color: var(--accent-colour);
}
.site-link-port .contacts {
  display: flex;
  margin-left: auto;
}

.contacts .site-list:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-text-colour);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-colour);
}
.contacts-link-mail {
  fill: var(--basic-text-colour);
}

.contacts-link-mail:hover,
.contacts-link-mail:focus {
  fill: var(--accent-colour);
}
.contact-link-icon {
  fill: var(--basic-text-colour);
}
.contact-link-icon:hover,
.contact-link-icon:focus {
  fill: var(--accent-colour);
}
.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  color: var(--basic-text-colour);
}

.icon-mail:hover,
.icon-mail:focus {
  color: var(--accent-colour);
}
.icon-contact {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.site-nav .current {
  position: relative;
  display: block;
  color: var(--accent-colour);
}
.site-list .current::after {
  content: '';
  position: absolute;
  background: var(--accent-colour);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  bottom: 0px;
}

/*Section hero */

.hero {
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/people-1.jpg);
}

.hero__header {
  color: var(--basic-text-or-background);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  width: 698px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero__button {
  color: var(--basic-text-or-background);
  background-color: var(--accent-colour);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  font-family: inherit;
  padding: 10px 32px;
  border-radius: 4px;
  text-align: center;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--button-background);
}

/*Section  qualities*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.qualities {
  /*.visually-hidden*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.gualities-ul {
  display: flex;
  gap: 30px;
}
.qualities-list {
  width: 270px;
  margin-right: 30px;
}
.qualities-list:nth-child(1n) {
  margin: 0;
}
.icons-qualities {
  width: 270px;
  height: 120px;
  background-color: var(--others-background);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.icon-css {
  width: 70px;
  height: 70px;
  fill: none;
}

.qualities-list,
.services-list,
.team-img {
  list-style: none;
}

.qualities-list > .qualities-list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-colour);
  text-transform: uppercase;
  margin-top: 30px;
}
.qualities-list-paragraf {
  margin-top: 10px;
}

/*Section services*/
.section-services {
  padding-top: 0;
}

.services {
  margin-bottom: 50px;
}

.services-item {
  display: flex;
  gap: 30px;
}
.img-services {
  width: 370px;
  height: 294px;
  margin: auto;
  display: block;
}
.product-thumb {
  position: relative;
}

.img-actions {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
}
.img-action-paragraf {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--basic-text-or-background);
  text-transform: uppercase;
  text-align: center;
  padding: 27px 0;
}

.services,
.team {
  color: var(--secondary-text-colour);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

/*Section team*/

.section-team {
  background-color: var(--others-background);
}

.team {
  margin-bottom: 50px;
}

.team-people {
  display: flex;
}

.img-photo {
  display: block;
}
.team-img {
  margin-right: 30px;
  background: var(--basic-text-or-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-img:last-child {
  margin-right: 0;
}

.team-img-header {
  color: var(--secondary-text-colour);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-img-paragraf {
  color: var(--basic-text-colour);
  font-size: 16px;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 16px;
}

.container-team {
  padding: 30px 0;
  width: 270px;
  text-align: center;
}
.team-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  list-style: none;
}

.team-list:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--svg-fill);
  background-color: var(--basic-text-or-background);
  border-radius: 50%;
  border: none;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.social-link:hover,
.social-link:focus {
  fill: var(--basic-text-or-background);
  background-color: var(--accent-colour);
}

.icon-social {
  width: 20px;
  height: 20px;
}

.icon-social:hover,
.icon-social:focus {
  fill: var(--basic-text-or-background);
}
/*Section customers*/

.customers {
  display: flex;
  list-style: none;
}
.customers-list {
  width: 170px;
  margin-right: 30px;
}
.customers-list:nth-child(6) {
  margin-right: 0;
}
.customers-list:not(:last-child) {
  margin-right: 30px;
}

.customer-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--svg-fill);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.customer-link:hover,
.customer-link:focus {
  color: var(--accent-colour);
}
.border {
  border: 1px solid var(--svg-fill);
  border-radius: 4px;
  background-color: var(--basic-text-or-background);
}
.border:hover,
.border:focus {
  color: var(--accent-colour);
  border-color: var(--accent-colour);
}

.icons-customers {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
/*Backdrop*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opasity;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  padding: 8px;
  background-color: var(--basic-text-or-background);

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms var(--cubic-bezier), opacity 250ms var(--cubic-bezier),
    visibility 250ms var(--cubic-bezier);
}

.close-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: var(--basic-text-or-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-icon {
  width: 18px;
  height: 18px;
  fill: var(--logo-text-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.modal-icon:hover,
.modal-icon:focus {
  fill: var(--accent-colour);
}

/* speaker-form*/

.speaker-form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 40px;
}

.speaker-form__title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--secondary-text-colour);
}

.speaker-form__element {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.speaker-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--basic-text-colour);
}

.speaker-form__input {
  margin: 0;
  padding-left: 42px;

  border: none;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.speaker-form__input:hover,
.speaker-form__input:focus {
  border: 1px solid var(--accent-colour);
}
.speaker-form__input:hover + svg,
.speaker-form__input:focus + svg {
  fill: var(--accent-colour);
}

.speaker-form__svg {
  position: relative;
  fill: var(--secondary-text-colour);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.speaker-form__icon-characteristic {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
}
.icon-tel {
  width: 13px;
  height: 13px;
}

.icon-mail {
  width: 15px;
  height: 12px;
}

.speaker-form__textarea {
  margin: 0;
  padding: 12px 16px;
  border: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  outline: none;
  resize: none;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.speaker-form__textarea:hover,
.speaker-form__textarea:focus {
  border: 1px solid var(--accent-colour);
}

.speaker-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
}

.conditions{
  padding: 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox {
  display: flex;
  border: 2px solid var(--secondary-text-colour);
  width: 15px;
  height: 15px;
  border-radius: 3px;
  align-items: center;
  margin-right: 7px;
}

.conditions__check:checked + label .checkbox {
  background: var(--accent-colour);
  border: 2px solid var(--accent-colour);
}

.checkebox__icon {
  width: 11px;
  height: 8px;
}
.conditions__policy {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--basic-text-colour);
}
 .checkebox__current {
  position: relative;
  display: block;
  color: var(--accent-colour);
}
.checkebox__current .checkebox__link::before {
  content: '';
  position: absolute;
  background: var(--accent-colour);
  border-radius: 2px;
  width: 100%;
  height: 0.5px;
  bottom: 4px;
}

.checkebox__link {
  color: var(--accent-colour);
  padding-left: 5px;
  text-decoration: none;
}

.btm-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btm-form__button {
  color: var(--basic-text-or-background);
  background-color: var(--accent-colour);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 52px;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.btm-form__button:hover,
.btm-form__button:focus {
  background-color: var(--button-background);
}

/*Section footer*/

.footer {
  background-color: var(--secondary-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  margin-bottom: 20px;
  display: block;
}

.footer-logo-studio {
  color: var(--basic-text-or-background);
}

.footer-address {
  font-size: 14px;
  line-height: 1.7;
  color: var(--address-text-colour);
  text-decoration: none;
  font-style: normal;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--basic-text-or-background);
}

.footer-list {
  list-style: none;
}

.footer-list:not(:last-child) {
  margin-bottom: 9px;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.social-footer {
  margin-left: 70px;
}
.footer-paragraf {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--basic-text-or-background);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.team-social {
  margin-top: 0;
}
.footer-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--basic-text-or-background);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-colour);
}
.subscribe-footer {
  margin-left: auto;
}
.subscribe-form {
  padding: 0;
}

.subscribe-element {
  margin-top: 20px;
  display: flex;
  justify-content: baseline;
}

.subscribe-input {
  margin: 0;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--secondary-background);
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.subscribe-input:focus {
  border-color: var(--basic-text-or-background);
}

.subscribe-input::placeholder {
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  width: 200px;

  background: var(--accent-colour);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--basic-text-or-background);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  padding: 10px 0;

  border: none;
  cursor: pointer;
  margin-left: 12px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--button-background);
}

.subscribe-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* Portfolio categories projects*/

.our-works {
  /*.visually-hidden*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.categories .categories-btn {
  background-color: var(--others-background);
  color: var(--secondary-text-colour);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 22px;
  display: inline-block;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.categories .categories-btn:hover,
.categories .categories-btn:focus {
  background-color: var(--accent-colour);
}

.categories .categories-btn:nth-child(5) {
  margin-right: 0px;
}

.categories {
  gap: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.categories-btn:hover,
.categories-btn:focus {
  background-color: var(--accent-colour);
  color: var(--basic-text-or-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list,
.site-list,
.progect {
  list-style: none;
}

.progects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;
}

.progect {
  background-color: var(--basic-text-or-background);
}

.progect-img-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-colour);
  margin-bottom: 4px;
}

.container-cards {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.progect-img-paragraf {
  color: var(--basic-text-colour);
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.progect-link {
  display: block;
  text-decoration: none;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.progect-link:hover,
.progect-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--basic-text-or-background);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  opacity: 0;

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.portfolio-thumb:hover .product-overlay {
  opacity: 1;
  transform: translateY(0);
}
.progect-link:hover .portfolio-thumb > .product-overlay {
  transform: translateY(0);
  opacity: 1;
}
